{% extends 'management/base.html' %}
{% load static %}

{% block content %}
{% load djmoney %}
<div class="row">
    <div class="col-lg-7">
        <div class="card">
            <div class="card-header">
                 <i class="fa fa-align-justify"></i> Teacher Information
            </div>
            <div class="card-body">
                <tbody>
                    <tr>
                        <td>Full Name: &emsp;{{ single_teacher.user.first_name }} {{ single_teacher.user.last_name }}</td>
                        <br>
                        <td>Email: &emsp;{{ single_teacher.user.email }}</td>
                        <br>
                        <td>Gender: &emsp;{{ single_teacher.user.gender }}</td>
                        <br>
                        <td>Date Employed: &emsp;{{ single_teacher.user.date_employed }}</td>
                        <br>
                        <td>Address: &emsp; {{ single_teacher.user.address }}</td>
                    </tr>
                </tbody>
            </div>
        </div>
    </div>
    <div class="col-lg-5">
        <div class="card">
            <div class="card-header">
                 <i class="fa fa-align-justify"></i> Teachers Personal Info
            </div>
            <div class="card-body">

                <h6>Religion: &emsp;{{ single_teacher.user.religion }}</h6>
            </div>
        </div>
    </div>
    <div class="col-lg-5">
        <div class="card">
            <div class="card-header">
                 <i class="fa fa-align-justify"></i> Teachers Personal Info
            </div>
            <div class="card-body">

                <h6>Subject(s): &emsp;{% for subject in subjects %} {{ subject.name }}{% if subjects.count > 1 %},{% endif %} {% endfor %}</h6>
                <h6>Class(es): &emsp;{% for class in classes %} {{ class.name }}{% if classes.count > 1 %}, {% endif %}{% endfor %}</h6>
                <h6>Salary: &emsp;{{ salary }}</h6>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-7">
        <div class="card">
            <div class="card-header">
                 <i class="fa fa-align-justify"></i> Teachers Image
            </div>
            <div class="card-body">
                <img src="{{ single_teacher.user.image.url }}" class="img-fluid" />
            </div>
        </div>
    </div>
</div>

{% endblock %}

